.chat-info-panel {

  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .chat-info-header {

    justify-content: space-between;

    .chat-title {

      flex-grow: 1;
    }
  }

  .chat-info-body {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
}
