@import "../../../styles/variables";

$iconFolder: "../../../styles/icons";

.messages-input-panel {

  height: 54px;
  top: 0;

  display: flex;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.button-send-message {
  $size: 28px;

  min-width: $size;
  min-height: $size;

  background-color: $blue-color;

  .icon {

    width: 70%;
    height: 90%;
  }
}
