@import "../../../styles/variables";

$iconFolder: '../../../styles/icons';

.messages-input-panel {

  height: 54px;
  top: 0;

  display: flex;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.button-add-file {
  $size: 32px;

  width: $size;
  height: $size;

  .icon-add-file {

    background-image: url("#{$iconFolder}/clip.svg");
  }
}

.button-send {
  $size: 28px;

  width: $size;
  height: $size;

  border-radius: 50%;
  background-color: $blue-color;

  .icon-send {

    background-image: url("#{$iconFolder}/arrow.svg");
  }
}
