@import "../../../styles/variables";

.avatar {
  $size: 47px;

  width: $size;
  height: $size;

  border-radius: 50%;

  background-color: $component-background-color;

  img {

    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
  }
}

.avatar-upload {
  $size: 150px;

  width: $size;
  height: $size;

  position: relative;
  cursor: pointer;

  >input {

    display: none;
  }

  .icon-add-image {

    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: none;
  }
}

.avatar-upload:hover {
  .icon-add-image {

    display: block;
  }
}
