.icon {

  width: 80%;
  height: 80%;
  display: inline-block;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: inherit;
}

.icon-plus {

  background-image: url("icons/plus.svg");
}

.icon-back {

  background-image: url("./icons/left-arrow.svg");
}

.icon-send {

  background-image: url("./icons/right-arrow.svg");
}

.icon-close {

  background-image: url("./icons/close.svg");
}

.icon-search {

  background-image: url("./icons/search.svg");
}

.icon-edit {

  background-image: url("./icons/draw.svg");
}

.icon-profile {

  background-image: url("./icons/user.svg");
}

.icon-add-image {

  background-image: url("./icons/add-image.svg");
}

.icon-delete {

  background-image: url("./icons/trash.svg");
}

.icon-delete-user {

  background-image: url("./icons/remove-user.svg");
}

.icon-add-user {

  background-image: url("./icons/add-user.svg");
}

.icon-resource {

  background-image: url("./icons/clip.svg");
}
