@import "./vendor/fonts/Inter/inter.scss";
@import "page.scss";
@import "button.scss";
@import "icon.scss";

body {

  margin: 0;
  font-family: Inter, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
