@import "./variables";

.sidebar-header {

  box-sizing: border-box;
  min-height: $sidebar-header-height;
  max-height: $sidebar-header-height;
  top: 0;

  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.sidebar-header-title {

  text-align: left;
  margin: 0;
}

.sidebar-search-container {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  flex-flow: row nowrap;
}
