/* TODO нормальные наименования */

$secondary-text-color: #FFF;

$border-color: #EAEAEA;
$border: 1px solid $border-color;

$component-background-color: #EFEFEF;
$secondary-background-color: #FBFBFB;

$blue-color: #3390EC;
$red-color: rgb(255, 72, 72);
$error-color: rgba(255, 72, 72, 36%);

$chat-background-color: rgba(51, 144, 236, 11%);
$message-in-background-color: #F8F8F8;
$message-out-background-color: #E4EDFD;

$button-cancel-color: $blue-color;

$sidebar-header-height: 54px;
