@import "../../../styles/variables";

.chat-panel {

  width: 400px;
  height: 100vh;
  padding: 0 10px;

  background-color: $secondary-background-color;
  box-sizing: border-box;

  .chat-search-container {

    margin: 10px 0;
  }

  .chat-items-container {
    /* chat-items-container */
  }
}
